.divFather{
    display:flex;
    justify-content: space-around;
    margin-top: 100px;
}

.divChild{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color:black
}

.img {
    justify-content: center;
    margin-bottom: 10px;
    height: 60px;
    width: 60px;
}

