.navbarFather {
    display:flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: yellow;
}

.textAndImg{
    margin-left: 150px;
    margin-bottom: 20px;
}

.textAnunciar{
    margin-top: 6px;
    margin-right: 150px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
}