.navbarFather {
    display:flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: yellow;
    text-decoration: none;
    color: black;
}

.textAndImg{
    text-decoration: none;
    display: flex;
    margin-left: 150px;
    margin-bottom: 20px;
    align-items: center;
}

.textAnunciar{
    margin-top: 6px;
    margin-right: 150px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    box-shadow: 24;
}

.text {
    color: black;
    text-decoration: none;
}