.navbarFather {
    display:flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: yellow
}

.textAndImg{
    margin-left: 150px;
    margin-bottom: 20px;
}

.textAnunciar{
    margin-right: 150px;
}